@import './variables';
@import './functions';
@import './header';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.section1 {
	padding: 10px;
	color: $primary;
}

.section2 {
	@extend header;
}

footer {
	@include flexConfig(column, $dark); 
	color: $info;
	padding: 50px;
	row-gap: 10px;
	margin-top: 40px;

	.contatos {
		background-color: $warning;
	}
	.social-icons {
		background-color: $success;
	}
}

